@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .label {
    @apply block mb-2 text-3xl md:text-2xl;
  }
  .register-input {
    @apply w-full px-6 py-2 border-b-2 border-black focus:outline-4 focus:outline-sky-400 dark:bg-darkSecondary dark:border-white;
  }
  .login-input {
    @apply w-full px-6 py-2 border-b-2 border-black focus:outline-4 focus:outline-sky-400;
  }
  .navbar {
    @apply bg-zinc-100 dark:bg-darkSecondary dark:text-zinc-200 border-zinc-200 dark:border-transparent w-full m-auto border-b-2 lg:border-2 lg:h-14 lg:w-[75%]  py-3 lg:py-0 lg:mt-2 lg:rounded-3xl shadow-xl flex justify-between px-8  fixed top-0 transition-all duration-500;
  }
  .full-navbar {
    @apply bg-zinc-100 dark:bg-darkSecondary dark:text-zinc-200 border-zinc-200 dark:border-transparent fixed top-0 flex border-b-2 justify-between  w-[100vw] px-12 py-2  lg:py-8  m-auto transition-all duration-500 border-2 shadow-xl  lg:h-10;
  }
}
